<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-xs-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at erat urna. Fusce commodo enim at imperdiet
                    gravida. Ut auctor lacinia massa, vitae facilisis elit. Donec quis massa eu elit tempus tempus quis et
                    odio. Ut condimentum orci id neque eleifend, eget malesuada massa placerat. Donec condimentum nibh in
                    justo iaculis sodales. Etiam sollicitudin est quis cursus dignissim. Duis consequat eu ex in volutpat.
                    Vivamus at laoreet quam. Suspendisse ultricies, mi et venenatis placerat, tortor libero aliquam velit,
                    sed commodo turpis quam quis sem. Vivamus at massa non sem eleifend auctor eget et tortor. Aliquam tristique
                    magna id mollis ornare. Nullam euismod elit ut quam euismod fermentum. Phasellus volutpat, nisi quis
                    cursus elementum, ante nibh aliquet libero, a ullamcorper orci mi a mi. Nulla molestie tortor et ipsum
                    pulvinar tristique. In vehicula, felis a pulvinar fermentum, purus augue posuere elit, vitae gravida
                    eros ipsum at felis. Pellentesque at felis et libero posuere auctor. Morbi rhoncus lacinia laoreet. Sed
                    euismod nec est et egestas. Integer sed enim quis odio hendrerit fermentum id vitae mauris. Aenean dignissim
                    porttitor erat in blandit. Suspendisse tempor facilisis dignissim. Ut rhoncus placerat sapien, ut hendrerit
                    lectus lacinia sit amet. Nulla sodales vestibulum odio, vel ultricies metus ultrices ut. In quis ipsum
                    vel neque eleifend finibus eu eu sapien. Nunc sit amet fringilla erat. Nulla finibus non quam eu sodales.
                    Sed ut sollicitudin felis. Ut molestie risus ut molestie facilisis. Sed dapibus gravida sem sed suscipit.
                    Maecenas interdum accumsan tortor, in aliquet dolor tempus tincidunt. Quisque pretium tristique tortor,
                    ut mollis odio placerat vitae. Vivamus sed ante pellentesque, sodales massa vel, convallis arcu. Proin
                    mauris purus, pharetra tristique est sed, finibus luctus justo. </p>
            </div>
            <div class="col-xs-5">
                <img class="Image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROTM5XyL8GCvMhWYpeYlkinXj08WcdrDaithQoKm1D-ehld2o4GQ">
            </div>
        </div>
    </div>
</div>